@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre:100,200,300,400,500,600,700|Architects+Daughter');

body {
    font-family: 'Abhaya Libre', serif;
}

/*section {*/
/*    background-image: url(pictures/jci-calgary.png)*/
/*}*/
    

.logo {
    width: 300px;
    height:300px;
    padding-left: 20px;
    margin-top: 30px;
    float: right;
}

@media screen and (max-width:767px) {
    
    .logo {
        width: 250px;
        height:250px;
        padding-left: 0px;
        float: none;
    }
    
}
   
   

.navbar-brand {
    padding: 0;
}

.nav {
    padding-right: 0;
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 21px;
}

.navbar {
    margin: 0;
}

.reg_detail {
    text-align: justify;
    font-size: 16px;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
}


    
@media screen and (max-width:768px) {
    .title {
        text-align: center;
        font-size: 20px;
    }
}
    
    

.events_container {
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 50px;

}

.director {
    text-align: justify;
    font-size: 16px;
    padding-top: 20px;
    /*text-transform: lowercase;*/
}

.welcome-head {
    text-align: center;
    font-size: 20px; 
    font-weight: bold;
   
}



.welcome_head {
    font-size: 18px;
    font-weight: bold;
}

.welcome_body {
    font-size: 14px;
    
}

@media screen and (max-width:768px) {
    .director {
        margin-bottom: 40px;
    }
}

.feature_card {
    border: 1px solid #ebebeb;
    margin: 30px 20px;
}
.navbar_brand {
    padding: 0;
}

.gallery {
    text-align: center;
    font-size: 30px;
}

.col-mid-3 {
    font-size: 20px;
}



@media screen and (min-width:768px) {


.feature_card {
    margin: 0;
}

.nav_button {
    text-align: right;
    padding-left: 30px;
    padding-right: 0;
}
}

#carousel-example-generic {
    padding-top: 20px;
    border: 1px solid #ebebeb;
    margin: 30px 30px;
    
}

/*.bg-primary {*/
/*    text-align: center;*/
/*    padding-bottom: 10px;*/
/*    width: 100%;*/
/*}*/

@media screen and (max-width:767px) {
    
    .h1 {
        font-size: 18px;
    }
    
}

footer {
    position: fixed;
    
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    background-color: #337ab7;
    bottom: 0px;
   
}



.btn-success { 
    margin-top: 10px;
    background-color:  #f5f5f5;
    
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0;
    margin-left: 0;
    background-color: #e05621;
    margin-top: 100px;
    width: 100%;
}
@media screen and (max-width:768px) {
    .container-fluid {
        margin-top: 20px;
        
    }
}

.navbar-default .navbar-nav>.active>a {
    
    color: #c31313;
    background-color: #e7e7e7;
}

.navbar-default .navbar-nav>li>a {
    color: #d9edf7;
    font-size: 20px;
    
}
@media screen and (max-width:768px) {
    .col-sm-8 {
        padding-right: 0px; 
        padding-left: 0px; 
}
}

.container-fluid>.navbar-header {
    margin-right: 10px;
}    

#carousel-example-generic {
    padding-top: 20px;
    border: 0px; 
    margin: 0px 0px; 
}   

.row {
     margin-right: 0px; 
     
}

.col-md-4-right {
    margin-top: 15px;
}

.col-md-8 {
    padding-right: 0px;
}

.regdetail {
    text-align: center;
    font-size: 16px;
}